.profile{
    display: inline-block;
    width: 200px;  
    vertical-align: top;
    margin-right: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile-picture{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
}

.name{
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 5px;
}

.mutual-friend-row{
   margin-left: 8px;
   margin-bottom: 10px;  
}

.mutual-friend-picture{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 14px; 
    vertical-align: middle;
    margin-right: 4px;
}

p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
    
    
}

.mutual-friends{
    display: inline-block;
    vertical-align: middle;
    color: rgb(100, 100, 100);
}

.add-friend-btn{
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
}



