div{
    font-family: Arial;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.tweet{
    display: flex;
    width: 520px;
    margin-left:10px ;
    margin-top: 20px;
    
}

.profile-picture-column {
  margin-right: 10px;
}

.profile-picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.tweet-column{
    flex: 1;
}

.tweet-header{
    display: flex;
    margin-bottom: 5px; 
}

.tweet-author {
  font-weight: bold;
  margin-right: 5px;
}

.tweet-author-handle {
  color: rgb(111, 111, 111);
}

.tweet-content{
    line-height: 20px;
    margin-bottom: 15px;
}

.video-preview{
    display: flex;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    overflow: hidden;
}

.thumbnail-column{
    background-color: rgb(200, 200, 200);
    width: 100px;
    height: 100px; 
}

.video-info-column{
    flex: 1;
}

.video-website {
  color: rgb(111, 111, 111);
   margin-bottom: 3px;
}

.video-title {
  line-height: 22px;
}