body{
    height: 3000px;
}
.bottom-right{
    width: 320px;
    height: 180px;
    background-color: grey;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.close-button{
    position: absolute;
    background-color: black;
    color: white;
    top: -18px;
    left: -18px;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}