body {
  height: 3000px;
}
.product-container{
    position: relative;
    display: inline-block;
}
.product-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.promotion{
    position: absolute;
    background-color: black;
    color: white;
    top: 10px;
    right: 0px;
    padding: 8px 12px 8px 12px;
}