.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgb(150, 150, 150);
    height: 50px;
}


.lightpink{
    background-color: lightpink;   
}

