div{
    font-family: Arial;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 82, 178);
    color: white;
    padding: 8px 10px;
}

.home-link{
    font-weight: bold;
}

.text-box{
    width: 500px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
}

button{
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;   
  border: 1px solid white; 
  border-radius: 2px;
  padding: 8px 15px;
}