


.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}

.thumbnail{
    width: 100%;
    
}



.profile-picture{
    width: 40px;
    border-radius: 50px;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author, .vedio-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

.vedio-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.vedio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time{
    font-family: Roboto, Arial;
    background-color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
}